
:root {
    --main-color: #eea000;
}

.figure{
    font-size:small;
    margin-left: 6em;
    margin-right: 6em;

    line-height: 22px;
    text-indent: 0px;

}
.picture{
   width:100%;
   text-align:center;
   margin-top: 20px;

   
}
.row div {

    margin-right: -5px;
    margin-left: -3px;
    margin-bottom: 4px;
    }

img{
    max-width: 100%;
    box-shadow: 1px 1px 5px black;

  }

  .blogCategory{
    text-indent: 0%;
    font-size: x-large;
    color:var(--main-color);
    text-shadow: 1px 1px 1px var(--main-color);

    font-family: Arial, Helvetica, sans-serif;
  }
  .blogNormal{
    font-size:16px; 
    line-height: 24px; 
    color: #101010;
  }
  .hor_line{
        align-self: center;
        width: 80%;
        height: 2px;
        border-top: solid var(--main-color);
  }